OBRAX_API_NAME=OBRAX API
OBRAX_API_VERSION=1.0.0
OBRAX_DATABASE_URL=
OBRAX_DB_HOST=
OBRAX_DB_PORT=5432
OBRAX_DB_NAME=
OBRAX_DB_USER=
OBRAX_DB_PASSWORD=
OBRAX_DB_SSLMODE=require
OBRAX_SECRET_KEY=change-me
OBRAX_SETUP_KEY=change-me-once
